<section id="projects">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            {{!-- render each project view --}}
            {{#each projects}}
            <div class="details-container color-container">
                <div class="article-container">
                    <img src="{{this.projectpic}}" alt="Project 1" class="project-img" />
                </div>
                <h2 class="experience-sub-title project-title">{{this.projecttitle}}</h2>
                <div class="btn-container">
                    <button class="btn btn-color-2 project-btn" onclick="location.href='{{this.projecturl}}'">View</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>